<div style="width:768px;">
             <ul style="margin:0;padding:0;">
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;" /></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;"/></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;"/></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;" /></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;" /></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg"  style="display:block;"/></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;" /></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;"/></a></li>
             <li style="margin:0;padding:0;list-style-type:none;float:left;width:256px;"><a href="#"><img src="001.jpg" style="display:block;"/></a></li>
</ul></div>